<% set_meta_tags(title: "#{@article.title}", og: { title: "#{@article.title}" }) %>
<article>
  <span class="article-date"><%= @article.created_at.strftime('%Y年%m月%d日') %></span>
  <h1 class="fs-2"><%= @article.title %></h1>
    <div>
      <%= sanitize(@article.content, tags: %w(p br h1 h2 h3 strong em b i u ol ul li a blockquote img iframe div pre code), attributes: %w(href src alt style width height title frameborder allow allowfullscreen target rel class)) %>
    </div>
  </div>
</article>