<header class="bg-dark text-white">
  <div class="container">
    <%= link_to "8kjapon.com", root_path, class: "navbar-brand" %>
    <div class="d-flex">
      <%= link_to "創作物一覧", "#", class: "nav-link" %>
      <%= link_to "musim", "https://musim.8kjapon.com", class: "nav-link" %>
      <%= link_to "Twitter(X)", "https://twitter.com/8kjapon", class: "nav-link" %>
    </div>
  </div>
</header>