<% set_meta_tags(title: "創作物一覧", og: { title: "創作物一覧" }) %>
<article>
  <h1 class="fs-2">創作物一覧</h1>
    <div>
      
      <%# sanitize(article.content, tags: %w(p br h1 h2 h3 strong em b i u ol ul li blockquote img), attributes: %w(href src alt)) %>
    </div>
  </div>
</article>