<main class="mb-auto flex-grow-1 container">
  <div class="jumbotron">
    <h1 class="display-4">h1たぐです</h1>
    <p class="lead">本文です。</p>
    <p class="lead"><b>太字です。</b></p>
    <h2>h2タグです。</h2>
    <a href="#">aタグです。</a>
    <h3>h3タグです。</h3>
  </div>
</main>