// Entry point for your Sass build
body {
    background-color: #F4F5F7;
}

header {
    .navbar-brand {
        font-size: 24px;
    }
    .nav-link {
        padding: 4px 12px;
        margin: 4px 0;
    }
    .nav-icon {
        margin-right: 0.3em;
    }
    .header-menu {
        p {
            margin: 0;
        }
    }
}

.container {
    max-width: 800px;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px;
    flex: 1;
}

.profile {
    padding: 16px 24px;
    background-color: #FFF;
    border-radius: 8px;
    .profile-main {
        display: flex;
        p {
            margin: 0;
        }
        @media (max-width: 425px) {
            p {
                font-size: 0.7em;
            }
        }
    }
    .fa-icon {
        margin-right: 0.5em;
    }
    .profile-icon {
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}

article {
    padding: 32px 50px;
    border-radius: 8px;
    background-color: #FFF;
    p {
        margin: 16px 0;
    }
    h1 {
        border-bottom: #242424 solid 5px;
        margin-bottom: 48px;
    }
    h2 {
        border-bottom: #242424 solid 1px;
        margin-top: 56px;
        margin-bottom: 16px;
    }
    h3 {
        border-bottom: #242424 solid 1px;
        border-left: #242424 solid 5px;
        padding-left: 5px;
        margin-top: 40px;
        margin-bottom: 16px;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .article-date {
        color: #666665;
    }
    pre[class^="language-"],
    pre[class*=" language-"] {
        background-color: #1D2020;
        color: #FEFFFE;
        margin: 24px -16px;
        padding: 8px 16px;
        border-radius: 8px;
        overflow: auto;
        font-family: monospace;
        text-shadow: none;
        code {
            margin: auto 0;
            padding: 8px 0;
            white-space: pre;
        }
    }
}

.article-list-element {
    margin: 16px 0;
    padding: 0;
    h3 {
        border: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #1D2020;
    }
    .element-area {
        padding: 16px 24px;
    }
}

footer {
    padding: 24px 16px;
    p {
        margin: 4px 0;
        font-size: 0.8em;
    }
}

@import 'actiontext';